<h4>Cash Game Results</h4>
<br />
<table class="table table-hover">
<tr>
  <th>Date</th>
  <th>Location</th>
  <th>Game</th>
  <th>Buyin</th>
  <th>Cash Out</th>
  <th>Notes</th>
</tr>
<% @cash_games.each do |game| %>
<tr>
  <td><%= game.end_session %></td>
  <td><%= game.location %></td>
  <td><%= game.game %></td>
  <td>$<%= game.buyin_and_rebuys %>0</td>
  <td>$<%= game.cash_out %>0</td>
  <td><%= game.notes %></td>
  <td><%= button_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure you want to delete this session?' } %></td>
</tr>
<% end %>
</table>
