<h1>New Cash Game</h1>

<%= form_for @cash_game do |game| %>
  <p>
    <%= game.label :location %><br />
    <%= game.text_field :location %>
  </p>

  <p>
    <%= game.submit %>
  </p>
<% end %>
<%= link_to 'Back', cash_games_path %>